
.login-page
{
    width: 100%;
    height: 100vh;
    background-color: black;
    position:fixed;
}

.header
{
    width: 100%;
    background-color:#f9f9f9;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    
}

.logo
{
    width: 80px;
    height: 80px;
    padding:1px 90px;
}

.login-button
{
    padding-right:6% ;
}

.login-btn 
{
    background-color:#f9f9f9;
    color: black;
    border-color: rgb(47, 45, 45);
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}
.login-btn:hover 
{
    background-color:aliceblue;
}

.main
{
    width: 100%;
    height: 100%;
    background-color:#ffffff;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.content
{
    width: 43%;
    height:70%;
    /* background-color:red; */
    display:flex;
    flex-direction: column;
    align-items: center;
    column-gap: 20px;
    padding-top: 120px;
}

.main h1 
{
    font-size: 58px;
    margin-bottom:10px;
    padding-left: 10px;
}

#trust
{
    font-size: 20.4px;
    color: rgb(23, 23, 23);
    padding-bottom: 30px;
    padding-right: 23%;
    margin-top: 0%;
    margin-bottom: 30px;
}

.highlight 
{
    color: yellowgreen;
    font-weight: bold;
}

.register-btn
{
    width:97%;
    height:60px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    background-color:indigo;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 50px;
}

.register-btn:hover
{
    background-color:#580297;
}

.main-img
{
    width: 40%;
    height:70%;
    /* background-color:yellowgreen; */
    overflow: hidden;
}

.main-img img 
{
    width: 100%;
}